.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Header{
  display: flex;
  justify-content: space-between;
}



.Card{
  display:flex;
  justify-content: space-evenly;
  margin-top: 300px;
  
}


.Cardbox{
  border: 1px solid gray;
  height: 200px;
  width: 200px;
  justify-content: space-between;
  background-color: white;
}
.saless{
  border:1px solid black;
  background-color: white;
  
}
.Header{
  background-color: gray;
  color: white;
}
.Online{
  background-color: white ;
  font-size: large;
  font-weight: bold;
}
.Profile{
  background-color: white ;
  font-size: large;
  font-weight: bold;
}

.nav{
  height: 60px;
  background-color: grey;
}
.navA{
  height: 60px;
  background-color: gray;
  color: white;
}